---
// Featured Projects Section for Index page
import FeaturedProjectContainer from "./FeaturedProjectContainer.astro"
import type { Project } from '../../../lib/types';

interface Props {
  projects?: Project[];
}

const { projects = [] } = Astro.props;
---

<section class="py-20 min-h-[calc(100vh-2vh)] h-auto px-4 sm:px-6 lg:px-8 flex flex-col items-start justify-start">
   <div class="max-w-7xl mx-auto flex flex-col items-start justify-start h-full">
              
       <div
       id="projects-header-text"
      class="flex flex-col items-start gap-4 mb-16 opacity-0 transform transition-all duration-1000 ease-out"
    >
      <p class="uppercase text-sm tracking-widest text-text-secondary">Case Studies</p>
      <h2 class="font-display text-3xl sm:text-4xl font-bold text-black">
        Projects, a  <span class="text-yellow-400">Showcase</span> of My Work
      </h2>
      <p class="font-body text-sm md:text-lg md:w-full tracking-tight text-text-secondary">
        Some of my projects that showcase my skills and interests in software development, AI, and cloud technologies. Each project reflects my passion for building innovative solutions that solve real-world problems.
      </p>
    </div>
      
      <FeaturedProjectContainer projects={projects} />
       
      <a
       href="/projects"
       class="section-cta-btn mt-4 lg:mt-0"
       >
        See All Projects
      </a>
  </div>
      
</section>

<script>
    import { addElementToObserver } from '../../../helpers/observerHelper';

    addElementToObserver('projects-header-text', 'slide-in-left-animate');
         
</script>