---

---
<section class="relative min-h-[calc(100vh-5vh)] bg-white overflow-hidden flex items-center justify-start ">
  
  <div
    class="absolute inset-0 w-full h-full bg-center bg-cover animate-slow-zoom"
    style="background-image: url('/BM.webp');"
  ></div>

  <img
  src="/david_photo.webp"
  alt="Portrait of David"
  loading="lazy"
  decoding="async"
  class=" min-w-[150%] md:min-w-[900px] md:w-[60%] h-auto drop-shadow-xl bottom-0  md:left-[35%] lg:left-[45%] xl-[60%] z-20 absolute"
  />

  <!-- Triangle overlay -->
  <div class="absolute inset-0 w-full h-full bg-text-secondary/85 clip-triangle flex mt-2 justify-end items-end overflow-visible"/>

  <div class="absolute z-20  lg:left-36 top-2/3 md:top-1/2 -translate-y-1/2 flex flex-col gap-6 max-w-md pl-4 border-l-4 border-yellow-400">
    <p class="uppercase text-sm tracking-widest text-text-primary">Full-Stack Developer</p>
    <h1 class="text-4xl sm:text-6xl text-text-primary font-display font-bold leading-tight w-[600px] text-balance">
      I turn ideas into <br /> into working <span class="text-yellow-400">software</span>
    </h1>
    <p class="text-black  md:text-text-primary text-base sm:text-lg ">
      <span class="text-yellow-400  font-bold">London ⇄ Granada ·</span> Code · Deploy · Maintain 
    </p>
  </div>

  <!-- LONDON -->
  <div class="absolute z-20 flex items-center gap-2 animate-dots font-display
    top-[28%] left-[24%]
    sm:top-[30%] sm:left-[26%]
    min-[700px]:top-[29%] min-[700px]:left-[31%]
    md:top-[29%] md:left-[32%]
    min-[880px]:top-[28%] min-[880px]:left-[36%]
    lg:top-[25%] lg:left-[37%]
    min-[1150px]:top-[29%] min-[1150px]:left-[38%]
    xl:top-[22%] xl:left-[40%]
  ">
    <div class="w-4 h-4 md:w-6 md:h-6 bg-red-500 rounded-full animate-pulse border-2 border-white"></div>
    <span class="text-sm text-white font-medium flex items-center gap-1">
      🇬🇧 <span>London</span>
    </span>
  </div>

  <!-- GRANADA -->
  <div class="absolute z-20 flex items-center gap-2 animate-dots font-display
    top-[40%] left-[23%]
    sm:top-[40%] sm:left-[26%]
    min-[700px]:top-[40%] min-[700px]:left-[30%]
    md:top-[41%] md:left-[32%]
    min-[880px]:top-[40%] min-[880px]:left-[35%]
    lg:top-[40%] lg:left-[37%]
    min-[1150px]:top-[40%] min-[1150px]:left-[39%]
    xl:top-[38%] xl:left-[40%]
  ">
    <div class="w-4 h-4 md:w-6 md:h-6 bg-yellow-400 rounded-full animate-pulse border-2 border-white"></div>
    <span class="text-sm text-white font-medium flex items-center gap-1">
      🇪🇸 <span>Granada</span>
    </span>
  </div>
</section>
